.task-container {
  border: 2px solid transparent;
  background-image: linear-gradient(to left, #7784b0, #384162);
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  margin: 10px auto;
  justify-content: space-evenly;
  border-radius: 10px;
}
.task-container:hover {
  box-shadow: -2px -2px 5px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: -2px -2px 5px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: -2px -2px 5px 0px rgba(255, 255, 255, 0.75);
  transition: 0.8s;
}
ul {
  list-style: none;
  text-align: left;
  padding-left: 0;
  font-size: 20px;
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
}
li {
  margin-left: 30px;
  max-width: 320px;
  min-width: 200px;
  flex: 1;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}
.btn {
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
  text-transform: capitalize;
  border-radius: 10px;
  border: none;
  transition: 0.8s;
}

p {
  max-width: 500px;
  max-height: 100px;
  word-wrap: break-word;
  overflow-y: auto;
}
.edit-btn {
  color: green;
}
.edit-btn:hover {
  color: white;
  background-color: green;
}
.delete-btn {
  color: red;
}
.delete-btn:hover {
  background-color: red;
  color: white;
}

/* Mobile layout */

@media only screen and (max-width: 1024px) {
  .task-container ul {
    font-size: 16px;
  }
  .btn {
    font-size: 18px;
    max-width: 10%;
  }
  .btns-container {
    max-width: 30%;
    justify-content: space-evenly;
    flex: 1;
  }
  .edit-btn,
  .delete-btn {
    font-size: 22px;
    padding-left: 10px;
    background: transparent;
  }
  .edit-btn:hover,
  .delete-btn:hover {
    color: white;
    background-color: transparent;
  }
  .task-container ul {
    flex: 4;
  }
  .task-container li {
    max-width: 25%;
    font-size: 14px;
  }
  .task-container ul {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .task-container ul {
    flex: 2;
  }
  .task-container .btns-container {
    flex: 1;
  }
  .task-container ul li {
    width: 100%;
    font-size: 22px;
  }
  .delete-btn,
  .edit-btn {
    font-size: 25px;
  }
}
